{{define "subject"}}Welcome to reservista!{{end}}
{{define "plainBody"}}
Hi,
Thanks for signing up for a reservista account. We're excited to have you on board!
For future reference, your user ID number is {{.ID}}.
Thanks,
The reservista Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a <i>reservista</i> account. We're excited to have you on board!</p>
    <p>Enjoy our app!</p>
    <p>Thanks,</p>
    <p>The <i>reservista</i> Team</p>
</body>

</html>
{{end}}